* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#main {
    margin-top: 60px;
 width: 300px;
 height: 500px;
margin-right: auto;
margin-left: auto;
background-color: #e9edc9;
border: 1px solid #333;

}

#header {
    /* position: fixed; */
    background-color: blueviolet;
    color: antiquewhite;
    
    width: 100%;
    
    text-align: center;
    padding: 10px;
    
   
        

}

#header .title {
    text-align: center;

}

#content {
    font-size: 20px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
   

}

#content .inputMoney {
    width: 220px;
    padding: 8px;
    margin: 10px;
}

#content .inputTip {
    width: 300px;
    padding: 8px;
    margin: 10px;
}

#content .inputPerson {
    width: 170px;
    padding: 8px;
    margin: 10px;
}

form {
    display: inline-flex;
}
select.tip {
    width: fit-content;
    height: 32px;
    left: 130px;
    margin-left: 22px;
}
.tipmore {
    text-align: center;
    
}

.titleLable{
    margin-top: 5px;
}


#cacullate .btn {
    display: block;
    width: 100px;
    height: 42px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    
}